/* global */
body, h1 {
    margin: 0;
    font-family: "vazir";
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
li {
    padding-right: 10px;
}

.first-lits{
    border-bottom: 1px solid white;
}

@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Thin-FD-WOL.woff") format("woff");
}

.wrapper{
    max-width: 1800px;
    margin: 0 auto;
}

.main_header{
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    background: #fff;

}

.logo_menu::after {
    clear: both;
    content: "";
    display: table;
    position: relative;
}

.main_header .logo {
    float: right;
    position: relative;
}
.main_header .menu {
    float: left;
    margin-top: 9px;
}

.header_img {
    display: block;
    width: 60px;
    height: auto;

}

.title {
    position: absolute;
    top: 11px;
    right: 66px;
    width: 72px;
    font-size: 1.5rem;
}


.menu_list{
    position: absolute;
    display: block;
    top: 103px;
    float: right;
    right: 0;
    width: 100%;
    background: #008000;

}

.menu_icon{
    border: none;
    background: transparent;
    float: left;
    margin-top: 11px;
}

.submenu {
    background-color: #008000;
    position: relative;
    padding: 13px;

}

.icon_home{

    position: absolute;
    float: right;
    right: 0;
    width: 100%;
    top: 59px;
    background: #008000;
    border-bottom: 1px solid white;
    padding: 8px 10px;
}

@media screen and (min-width: 992px) {
    .main_header .menu {
      float: right;
      padding-right: 88px;
      margin-top: 19px;
    }
}
@media screen and (min-width: 992px) {
    .menu_icon {
      display: none;
    }
    .title{
        display: inline;
    }
    .logo{
        display: inline;
    }
}

@media screen and (min-width: 992px) {
    .menu_list {
      display: inline-block;

    }
  
    .menu_list > li {
      display: inline-block;
      padding-left: 16px;

    }
  
    .menu_list li:last-child {
      padding-left: 0;
    }
}

@media screen and (min-width: 992px) {
    .menu_list > li:hover .submenu {
      display: block;
    }
}
